.weather-cards {
  width: 250px;
  background-color: aqua;
  height: 250px;
}

.text-cards {
  width: 500px;
  background-color: #eceed9;
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20%;
}

.divInput {
  margin-bottom: 20px;
  margin-left: 15px;
}

.divInput > label {
  display: block;
}

.divInput > button {
  margin-top: 10px;
  display: block;
}

main{
  margin: auto;
  width: 800px;
  background-color: rgb(243, 243, 238);
}